.create-todo-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;

  .create-todo-form_button {
    min-width: auto;
    margin-left: auto;
    text-wrap: nowrap;
  }

  .create-todo-form_input {
    justify-self: stretch;
  }
}