.main-layout_root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-layout_header {
    text-align: center;
    align-items: center;
    height: 64px;
    padding-inline: 48px;
    line-height: 64px;
    flex-shrink: 0;
    background-color: var(--ant-layout-color-bg-body);
  }

  .main-layout_body {
    display: flex;
    flex: 1 1 auto;
  };

  .main-layout_content {
    flex: 1;
    box-sizing: border-box;
  }

  .main-layout_sider {
    box-sizing: border-box;
    background-color: var(--ant-layout-color-bg-body);
  }
}